/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px 'Agora thin', sans-serif; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
    line-height: 1.2;
}
button                         { cursor: pointer; padding: 0; }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px 'Agora thin', sans-serif; color:#000; text-decoration:none; line-height: 1.2 }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }
iframe                         { display: block }

.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
	font-family: 'Agora light';
	src: url('../fonts/PFDinTextCompPro-Light.eot');
	src: url('../fonts/PFDinTextCompPro-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-Light.woff') format('woff'),
	url('../fonts/PFDinTextCompPro-Light.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-Light.svg#pf_agora_sans_probold') format('svg');
}
@font-face {
	font-family: 'Agora thin';
	src: url('../fonts/PFDinTextCompPro-Thin.eot');
	src: url('../fonts/PFDinTextCompPro-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-Thin.woff') format('woff'),
	url('../fonts/pfdintextcomppro-thin.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-Thin.svg#pf_agora_sans_probold') format('svg');
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.container {
	width: 1340px;
	margin: 0 auto;
}
.wrapper {
    min-height: 100%;
    min-width: 1340px;
}
.wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 294px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    margin-bottom: 11px;
}
    .top-header {
        overflow: hidden;
        padding: 8px 0;
        background: #f1f1f1;
        border-bottom: 1px solid #c6c6c6;
        min-width: 1340px;
    }
        .header .list-soc-link {
            float: right;
        }
            .header .list-soc-link li {
                float: left;
                width: 25px;
                height: 25px;
                margin-left: 5px;
                background: url("../images/header/soc_links.png") no-repeat;
                transition: .3s;
            }
            .header .list-soc-link .tw {
                background-position-x: -33px;
            }
            .header .list-soc-link .lind {
                background-position-x: -66px;
            }
            .header .list-soc-link .vk {
                background-position-x: -99px;
            }
            .header .list-soc-link .od {
                background-position-x: -132px;
            }
            .header .list-soc-link .yt {
                background-position-x: -165px;
            }
            .header .list-soc-link .inst {
                background-position-x: -198px;
            }
            .list-soc-link li:hover {
                opacity: .7;
            }
                .header .list-soc-link a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-indent: -9999px;
                }
        .btn-remember {
            float: right;
            border: none;
            padding: 2px 0 2px 25px;
            margin-left: 40px;
            background: url("../images/header/hart.png") no-repeat left center;
        }
        .btn-remember:hover {
            opacity: .7;
        }
            .btn-remember:hover span {
                text-decoration: none;
            }
            .btn-remember span {
                font: 21px 'Agora thin', sans-serif;
                color: #e3000f;
                text-decoration: underline;
            }
    .main-header {
        overflow: hidden;
        padding: 30px 0;
        text-align: center;
    }
        .logo {
            float: left;
        }
        .header .contact {
            float: right;
        }
            .header .contact li {
                float: left;
                margin-left: 45px;
                text-align: left;
            }
            .header .contact li:first-child {
                margin-left: 0;
            }
                a.tell:hover {
                    text-decoration: none;
                }
                .btn-call-back {
                    margin-top: 5px;
                    color: #e3000f;
                    font: 21px 'Agora light';
                    background: none;
                    border: none;
                    border-bottom: 1px dotted #e3000f;
                }
                .btn-call-back:hover {
                    border: none;
                    padding-bottom: 1px;
                }
                .header .contact .mail,
                .header .contact .text {
                    font: 14px Arial;
                    color: #e3000f;
                    border-bottom: 1px dotted #e3000f;
                }
                .header .contact .mail:hover {
                    text-decoration: none;
                }
        .btn-video,
        a.more-info,
        .btn-red,
        a.btn-red {
            display: inline-block;
            width: 215px;
            padding: 8px 0;
            margin-top: 5px;
            background: none;
            color: #e3000f;
            text-align: center;
            border: 4px solid #e3000f;
            font: 26px 'Agora light';
            transition: .4s;

        }
        .btn-video:hover,
        a.more-info:hover {
            color: #fff;
            background: #e3000f;
            text-decoration: none;
        }

/*---------------NAV--------------*/
.nav {
    padding: 11px 0;
    background: #e3000f;
    text-align: center;
}
    .btn-menu {
        overflow: hidden;
        display: none;
        text-align: right;
    }
        .btn-toggle-js {
            float: right;
            cursor: pointer;
        }
            .btn-toggle {
                display: inline-block;
                color: #fff;
                line-height: 5px;
                font-size: 19px;
                padding: 2px 4px 5px;
                margin: 5px 15px;
                border: 1px solid #fff;
                cursor: pointer;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
                .btn-toggle:after,
                .btn-toggle:before {
                    display: block;
                    content: '\2014';
                    color: #fff;
                }
                    .btn-menu .text {
                        float: left;
                        margin-top: 4px;
                        color: #fff;
                        font-size: 24px;
                        font-weight: bold;
                }

    .tbl-toggle {
        overflow: hidden;
    }
        .tbl-toggle li {
            float: left;
            width: 205px;
        }
            .tbl-toggle a {
                font: 26px 'Agora light';
                color: #fff;
                transition: .3s;
            }
            .tbl-toggle a:hover {
                text-decoration: none;
                color: #ccc;
            }


/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
    margin-bottom: 20px;
}
    .big-video {
        position: relative;
        height: 375px;
        margin-bottom: 20px;
    }
        .big-video iframe {
            width: 100% !important;
            height: 375px !important;
        }
        .big-video .popup {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 300px;
            background: rgba(0, 0, 0, .6);
        }
        .popup {
            width: 300px;
            padding: 30px 65px;
            background: #fff;
        }
            .form-content .text,
            .form-content .message {
                display: block;
                width: 100%;
                margin-bottom: 18px;
                padding: 12px 5px 13px 10px;
                border: 1px solid #c6c6c6;
                font: 14px Tahoma;
                color: #717171;

                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
            .main-page .text,
            .main-page .message {
                border: none;
            }
            .form-content .message {
                height: 82px;
                resize: none;
            }
            .btn-send {
                display: block;
                width: 162px;
                margin: 0 auto;
                padding: 6px 0 5px;
                font: 26px 'Agora light';
                background: #e3000f;
                border: none;
                color: #fff;
                transition: .3s;
            }
            .btn-send:hover {
                background: #c10814;
            }
    .list-advantages {
        overflow: hidden;
        padding: 25px 30px 28px;
        margin-bottom: 20px;
        background: #f0f0f0;
    }
        .list-advantages li {
            float: left;
            width: 20.704%;
            margin-left: 5.73%;
        }
        .list-advantages li:first-child {
            margin-left: 0;
        }
            .list-advantages .wrap-img {
                display: inline-block;
                width: 87px;
                height: 87px;
                background: #c5c3c3;
                vertical-align: middle;

                -webkit-border-radius: 90px;
                -moz-border-radius: 90px;
                border-radius: 90px;
            }
            .list-advantages .wrap {
                display: inline-block;
                width: 56.61%;
                margin-left: 25px;
                vertical-align: middle;
            }
                .list-advantages .name-advantage {
                    display: block;
                    font: 26px 'Agora thin';
                    color: #4e4e4e;
                }
                .list-advantages .desc {
                    display: block;
                    line-height: 1.2;
                    font: 12px Tahoma;
                    color: #717171;
                }
    .list-service {
        overflow: hidden;
    }
        .list-service li {
            overflow: hidden;
            position: relative;
            float: left;
            width: 23.6%;
            margin: 0 0 20px 1.86%;
        }
        .list-service li:first-child {
            margin-left: 0;
        }
            .list-service a {
                display: block;
            }
            .list-service a:hover .info {
                background: rgba(0, 0, 0, .8);
            }
            .list-service a:hover .img {
                width: 110%;
                height: 110%;
                margin: -5% 0 0 -5%;
            }
                .list-service .img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: 0.3s;
                }
                .list-service .layout {
                    width: 100%;
                }
                .list-service .info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 8px 15px;
                    background: rgba(0, 0, 0, .6);
                    color: #fff;
                    transition: 0.3s;
                }
                    .list-service .left {
                        display: inline-block;
                        width: 56%;
                        vertical-align: middle;
                    }
                        .name-service {
                            display: block;
                            font: 26px 'Agora thin';
                        }
                    .list-service .price {
                        display: inline-block;
                        width: 40%;
                        margin-left: 3%;
                        vertical-align: middle;
                        text-align: right;
                    }
    .bg-grey {
        overflow: hidden;
        padding: 17px 0 22px;
        background: #f0f0f0;
    }
        .block-reasons {
            float: left;
            width: 49.1%;
            height: 470px;
            padding: 25px 35px;
            background: #fff;

            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
            .block-reasons li {
                height: 60px;
                margin-bottom: 10px;
            }
                .block-reasons .wrap-img {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    background: #c5c3c3;
                    vertical-align: middle;

                    -webkit-border-radius: 70px;
                    -moz-border-radius: 70px;
                    border-radius: 70px;
                }
                .block-reasons .desc {
                    display: inline-block;
                    margin-left: 30px;
                    vertical-align: middle;
                    font: 26px 'Agora thin';
                    color: #4e4e4e;
                }
        .list-small-video {
            overflow: hidden;
            float: right;
            width: 49%;
        }
            .list-small-video li {
                float: left;
                width: 48%;
                height: 220px;
                margin-left: 3.8%;
                margin-top: 30px;
            }
            .list-small-video li:first-child,
            .list-small-video li:nth-child(2) {
                margin-top: 0;
            }
            .list-small-video li:nth-child(2n + 1) {
                margin-left: 0;
            }
                .list-small-video iframe {
                    width: 100% !important;
                    height: 100% !important;
                }
    .brand-section {
        margin-top: 10px;
    }
        .name-section {
            overflow: hidden;
        }
            .name-section h2 {
                margin: 20px 0 15px;
                font: 48px 'Agora thin';
            }
            .list-brands {
                overflow: hidden;
                text-align: center;
            }
                .list-brands li {
                    display: inline-block;
                    margin: 0 3% 20px;
                    vertical-align: middle;
                }
                .list-brands li:first-child {
                    margin-left: 0;
                }
                .list-brands li:last-child {
                    margin-right: 0;
                }
    .review-section {
        padding-bottom: 10px;
    }
        .list-review {
            overflow: hidden;
            margin-bottom: 40px;
        }
            .list-review > li {
                float: left;
                width: 30%;
                margin: 0 0 20px 3.33%;
                color: #4e4e4e;
            }
            .list-review > li:first-child {
                margin-left: 0;
            }
                .list-review .top {
                    margin-bottom: 10px;
                }
                    .list-review .user-foto {
                        display: inline-block;
                        vertical-align: middle;
                        border: 3px #ebd200 solid;

                        -webkit-border-radius: 90px;
                        -moz-border-radius: 90px;
                        border-radius: 90px;
                    }
                    .list-review .info {
                        display: inline-block;
                        margin-left: 15px;
                        vertical-align: middle;
                    }
                        .list-review .name {
                            display: block;
                            font: 30px 'Agora thin';
                            color: #000;
                            line-height: 1;
                        }
                        .list-review .date {
                            font: 14px Arial;
                        }
                        .stars {
                            overflow: hidden;
                        }
                            .stars li {
                                float: left;
                                width: 20px;
                                height: 20px;
                                background: url("../images/content/stars.png") no-repeat;
                                text-indent: -9999px;
                            }
                            .stars .no-active {
                                background-position-x: -20px;
                            }
                .list-review p {
                    font: 17px Arial;
                    line-height: 1.4;
                }
        .map {
            margin-bottom: 35px;
        }
    .left-contact {
        float: left;
        width: 49%;
        padding-bottom: 40px;
        color: #4e4e4e;
    }
        .left-contact .name-section:first-child h2,
        .section-case .name-section:first-child h2 {
            margin-top: 0;
        }
        .left-contact a:hover {
            text-decoration: none;
        }
        .container p {
            font: 17px Arial;
            color: #4e4e4e;
        }
        .left-contact li {
            font: 17px Arial;
            color: #4e4e4e;
        }
        .container p {
            line-height: 1.6;
            margin-bottom: 20px;
        }
        .red-text,
        a.red-text,
        a.mail-contact {
            margin-bottom: 25px;
            font: 24px Arial;
            color: #e3000f;
            border-bottom: 1px dotted #e3000f;
        }
        .block-tell .red-text {
            border-bottom: none;
        }
        .list-requisites {
            margin: 40px 0 20px;
        }
            .list-requisites li {
                line-height: 1.5;
            }
        .block-tell {
            font: 24px Arial;
        }
    .right-contact {
        float: right;
        width: 47%;
        max-width: 625px;
        padding-bottom: 40px;
    }
        .call-back-form {
            overflow: hidden;
            width: 100%;
            max-width: 625px;
            margin-bottom: 30px;
            background: url("../images/content/bg_form.jpg") repeat-y;
            background-size: 100%;
        }
            .call-back-form form {
                margin: 25px 40px 40px;
                color: #fff;
            }
                .call-back-form fieldset {
                    margin-bottom: 15px;
                    font: 36px 'Agora thin';
                }
                .call-back-form textarea {
                    width: 100%;
                    height: 115px;
                    resize: none;
                }
                .call-back-form textarea,
                .call-back-form .text {
                    display: block;
                    margin-bottom: 25px;
                    padding: 10px 5px 10px 15px;
                    border: none;
                    background: #fff;
                    color: #4e4e4e;
                    font: 17px Arial;

                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
                .call-back-form .text {
                    width: 100%;
                    max-width: 315px;
                }
                .call-back-form .form-send {
                    color: #fff;
                    border: none;
                    background: none;
                    font: 29px 'Agora light';
                    text-decoration: underline;
                }
                .call-back-form .form-send:hover {
                    text-decoration: none;
                }
        .video-location {
            position: relative;
        }
            .video-location iframe {
                width: 100% !important;
                max-height: 325px;
            }
            .video-location span {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                display: block;
                padding: 15px 5px 15px 25px;
                background: rgba(0, 0, 0, .6);
                color: #fff;
                font: 29px 'Agora thin';
            }
    .section-case {
        float: left;
        width: 48%;
        max-width: 635px;
        margin: 20px 0 30px;
    }
        .section-case p {
            line-height: 1.5;
        }
    .performers {
        float: right;
        width: 51%;
        margin: 20px 0 30px;
    }
        .performers .text {
            display: block;
            font: 36px 'Agora thin';
        }
        .list-performers {
            overflow: hidden;
        }
            .list-performers li {
                float: left;
                width: 17.41%;
                margin-left: 2%;
                margin-bottom: 15px;
            }
            .list-performers li:first-child {
                margin-left: 0;
            }
                .list-performers img {
                    width: 100%;
                }
                .list-performers .name {
                    display: block;
                    margin-top: 10px;
                    font: 24px 'Agora thin';
                    color: #000;
                }
                .list-performers .vacantion {
                    display: block;
                    color: #4e4e4e;
                    font: 14px Arial;
                }
    .weight-border {
        margin-bottom: 10px;
        padding: 5px 25px 15px;
        border: 9px solid #f3f3f3;
    }
    .list-view-statist {
        overflow: hidden;
        width: 400px;
        padding-bottom: 20px;
    }
        .list-view-statist li {
            float: left;
            width: 200px;
            margin-bottom: 10px;
            font: 14px Arial;
        }
            .list-view-statist li:before {
                content: '';
                display: inline-block;
                width: 7px;
                height: 7px;
                margin: 4px 5px 0;
                background: #e90080;
                vertical-align: top;

                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
            }
    .list-portfolio {
        overflow: hidden;
        max-width: 1210px;
        padding: 10px 0 20px;
    }
        .list-portfolio li {
            overflow: hidden;
            margin-bottom: 40px;
        }
            .list-portfolio .left-block {
                float: left;
                width: 420px;
                margin-right: 4%;
            }
                .list-portfolio h2 {
                    margin-top: 0;
                }
                .list-portfolio iframe {
                    width: 420px !important;
                    height: 270px !important;
                }
            .list-portfolio .right-block {
                overflow: hidden;
            }
                .list-portfolio .info {
                    margin: 15px 0 25px;
                }
                    .list-portfolio .view,
                    .list-portfolio .new-view {
                        display: inline-block;
                        margin-left: 60px;
                        font: 26px 'Agora light';
                        color: #000;
                    }
                    .list-portfolio .view {
                        margin-left: 0;
                    }
                        .list-portfolio .number {
                            color: #e3000f;
                        }
                    .scale {
                        position: relative;
                        display: inline-block;
                        width: 370px;
                        margin-right: 20px;
                        background: #f0f0f0;
                        vertical-align: middle;
                    }
                        .scale:before {
                            content: '0';
                            position: absolute;
                            top: 20px;
                            left: 0;
                            font: 17px Arial;
                            color: #4e4e4e;
                        }
                        .scale:after {
                            content: '10';
                            position: absolute;
                            top: 20px;
                            right: 0;
                            font: 17px Arial;
                            color: #4e4e4e;
                        }
                        .scale .line {
                            display: block;
                            width: 80%;
                            height: 15px;
                            background: url("../images/content/scale.jpg") repeat-y;
                            background-size: 100% 100%;
                        }
                        .scale .number {
                            position: absolute;
                            top: 20px;
                            left: 80%;
                            margin-left: -5px;
                            font: 17px Arial;
                            color: #4e4e4e;
                        }
                    .list-portfolio .info .desc {
                        font: 12px Tahoma;
                    }
                a.more-info,
                .btn-red,
                a.btn-red {
                    width: 165px;
                    margin-top: 30px;
                    padding: 3px 0;
                }
                .btn-red,
                a.btn-red {
                    margin-left: 30px;
                    background: #e3000f;
                    color: #fff;
                }
                .btn-red:hover,
                a.btn-red:hover {
                    background: #fff;
                    color: #e3000f;
                    text-decoration: none;
                }
                .wrap-iframe {
                    position: relative;
                    height: 100%;
                }
                    .wrap-iframe:after {
                        content: '';
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 10;
                    }
                    .bg-popup-video iframe {
                        display: inline-block;
                        max-width: 90%;
                    }
        .step-service li {
            width: 19%;
            margin-left: 1%;
        }
            .step-service .wrap {
                margin-left: 15px;
            }

    .box-form-service {
        overflow: hidden;
        border: 9px solid #f3f3f3;
    }
        .box-form-service > li {
            overflow: hidden;
            padding: 20px;
        }
        .box-form-service .desc {
            float: left;
            width: 27.4%;
            height: 100%;
            border-right: 9px solid #f3f3f3;
        }
            .box-form-service .header-form {
                display: block;
                margin-bottom: 20px;
                font: 30px 'Agora thin';
            }
            .box-form-service .name {
                display: block;
                margin-bottom: 5px;
                font: 17px Arial;
            }
            .box-form-service .type-text,
            .box-form-service .type-select,
            .box-form-service .type-textarea {
                width: 100%;
                padding: 8px 0 8px 12px;
                border: 1px solid #cecece;
                font: 17px Arial;
                background: #fff;

                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
            .box-form-service .type-select {
                height: 38px;
            }
            .box-form-service .wrap-select {
                position: relative;
                display: block;
            }
                .box-form-service .wrap-select:after {
                    content: '';
                    position: absolute;
                    right: 1px;
                    top: 1px;
                    display: block;
                    height: 36px;
                    width: 30px;
                    background: url("../images/content/custom_select.jpg") no-repeat;
                    pointer-events: none;
                }
                .box-form-service .type-textarea {
                    height: 90px;
                }
                .box-form-service .form-service {
                    width: 100%;
                }
                    .box-form-service .form-service li {
                        float: left;
                        width: 31%;
                        margin-left: 3%;
                    }
                    .box-form-service .form-service li:first-child {
                        margin-left: 0;
                    }
                        .box-form-service .btn-red {
                            display: block;
                            width: 200px;
                            padding: 5px 0;
                            margin: 45px auto 0;
                        }
                .type-checkbox {
                    display: block;
                    margin-bottom: 10px;
                    font: 17px Arial;
                }
                    .type-checkbox input {
                        width: 17px;
                        height: 17px;
                    }
    .list-six-block {
        overflow: hidden;
        margin-bottom: 20px;
    }
        .list-six-block li {
            position: relative;
            float: left;
            width: 16.12%;
            margin-left: 0.65%;
        }
        .list-six-block li:first-child {
            margin-left: 0;
        }
            .list-six-block .text {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                padding: 10px 15px;
                background: rgba(0, 0, 0, .6);
                font: 26px 'Agora thin';
                color: #fff;
            }
            .list-six-block img {
                width: 100%;
            }
    .list-post {
        overflow: hidden;
        margin-bottom: 25px;
    }
        .list-post > li {
            float: left;
            width: 32.3%;
            padding: 9px;
            margin-left: 1%;
            border: 3px solid #e3000f;

            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .list-post > li:first-child {
            margin-left: 0;
        }
            .list-post img {
                float: left;
                width: 48%;
                margin-right: 20px;
            }
            .list-post .btn-red {
                margin-left: 0;
                margin-top: 20px;
            }
                .list-post li ul {
                    margin-top: 15px;
                }
                    .list-post li li {
                        margin-bottom: 10px;
                        font: 14px Arial;
                    }
                        .list-post li li:before {
                            content: '';
                            display: inline-block;
                            width: 7px;
                            height: 7px;
                            margin: 3px 15px 0 0;
                            background: #e3000f;
                            vertical-align: top;

                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            border-radius: 10px;
                        }
        .block-reasons .btn-red {
            margin: 20px 0 0 0;
        }
        .block-reasons h2 {
            margin-top: 0;
        }
    .list-employee {
        overflow: hidden;
        margin-bottom: 25px;
    }
        .list-employee li {
            float: left;
            width: 23%;
            margin: 0 0 20px 2.65%;
        }
        .list-employee li:first-child {
            margin-left: 0;
        }
            .list-employee .name {
                display: block;
                margin-top: 10px;
                font: 42px 'Agora thin';
            }
            .list-employee .vacantion {
                display: block;
                color: #4e4e4e;
                font: 16px Arial;
            }
        .tbl-schedule {
            width: 100%;
            margin-bottom: 30px;
        }
            .tbl-schedule th,
            .tbl-schedule td {
                padding: 13px 25px 14px;
                text-align: left;
                border-bottom: 1px solid #c8c8c8;
                color: #4e4e4e;
            }
            .tbl-schedule th {
                font: 15px Arial;
                background: #f0f0f0;
            }
            .tbl-schedule td {
                padding: 13px 20px 14px;
                font: 17px Arial;
            }
                .tbl-schedule span {
                    display: inline-block;
                    margin: 0 5px;
                    color: #e3000f;
                    border-bottom: 1px dotted #e3000f;
                    cursor: default;
                }
                .tbl-schedule span:hover {
                    background: #e3000f;
                    margin: 0;
                    padding: 0 5px;
                    color: #fff;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
	overflow: hidden;
    margin-top: -294px;
	padding: 30px 0 45px;
	border-top: 1px solid #cacaca;
}
	.footer .left {
		float: left;
	}
        .footer .menu {
            margin-bottom: 40px;
        }
            .footer .menu a {
                font-size: 18px;
                color: #6c6c6c;
                line-height: 1.2;
            }
	.footer .wrap {
		float: right;
	}
		.footer .contact {
			float: left;
            margin-right: 90px;
		}
            .footer .tell,
            .header .tell {
                display: block;
                font: 36px 'Agora light';
                color: #999;
            }
                .footer .tell span,
                .header .tell span {
                    color: #2b2929;
                }
            .footer .address {
                display: block;
                height: 55px;
                margin-top: 5px;
            }
                .footer .address span {
                    display: inline-block;
                    color: #e80080;
                    border-bottom: 1px dashed #e80080;
                    font-style: normal;
                    font-family: Arial, serif;
                }
            .footer .text-soc-link {
                display: inline-block;
                margin-bottom: 5px;
                color: #6c6c6c;
                font: 18px 'Agora thin', serif;
            }
            .footer .list-soc-link {
                overflow: hidden;
            }
                .footer .list-soc-link li {
                    float: left;
                    width: 25px;
                    height: 25px;
                    margin-left: 3px;
                    text-indent: -9999px;
                    background: url("../images/footer/sprite_soc_links.png") no-repeat;
                    transition: .3s;
                }
                    .footer .list-soc-link a {
                        display: block;
                        width: 100%;
                        height: 100%;

                        -webkit-border-radius: 30px;
                        -moz-border-radius: 30px;
                        border-radius: 30px;
                    }
                .footer .list-soc-link li:first-child {
                    margin-left: 0;
                }
                .footer .list-soc-link .tw {
                    background-position-x: -28px;
                }
                .footer .list-soc-link .vk {
                    background-position-x: -55px;
                }
                .footer .list-soc-link .rss {
                    background-position-x: -82px;
                }
                .footer .list-soc-link .fb {
                    background-position-x: -110px;
                }
                .footer .list-soc-link .od {
                    background-position-x: -138px;
                }
		.list-soc-group {
			float: left;
		}
			.list-soc-group li {
				float: left;
				width: 238px;
				margin-left: 28px;
			}
			.list-soc-group li:first-child {
				margin-left: 0;
			}
				#vk_groups,
				#vk_groups2 {
					border: 1px solid #bec8d3;

					-webkit-border-bottom-right-radius: 4px;
					-webkit-border-bottom-left-radius: 4px;
					-moz-border-radius-bottomright: 4px;
					-moz-border-radius-bottomleft: 4px;
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
				}

/*-------------------------------POPUP------------------------------*/
#popup1,
#popup2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -195px 0 0 -215px;
}
.bg-popup,
.bg-popup-video {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, .6);
}
.bg-popup-video {
    text-align: center;
}
.bg-popup-video iframe {
    margin-top: 150px;
}
.success-message {
    display: none;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------RESPONSIVE-----------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 780px) {
    .tbl-toggle {
        display: none;
    }
    .btn-menu {
        display: block;
    }
    .tbl-toggle li {
        display: block;
        float: none;
    }
}